body {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    text-align: center;
}

#s {
    display: flex;
    justify-content: center;
    width: 100%;
}

button {
    background-color: grey;
    height: 130px;
    width: 130px;
    background-color: grey;
    border-radius: 5px;
    font-size: 60px;
}
}
button:hover {
    background-color: white;
}

input {
    width: 30px;
    text-align: center;
    border-style: solid;
    border-color: grey;
    border-radius: 5px;
    width: 200px;
    font-size: 60px;
}

h1 {
    font-size: 130px;
}